*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    vertical-align: top;
}

.container {
    width: min(80%, 1320px);
    margin: 0 auto;
}

@media screen and (max-width:1425px) {
    .container {
        width: min(93.75%, 1140px);
    }
}

@mixin fontSize($size_px) {
    font-size: ($size_px/16)*1rem;
}

$colorButton: #5373fd;

#first_section {
    // background-image: url("../img/HeaderBackground.jpg");
    padding-top: 295px;
    padding-bottom: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        @include fontSize(48);
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 8px;
    }

    p {
        @include fontSize(22);
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        color: #fff;
        text-align: center;
        letter-spacing: 0.31em;
        margin-bottom: 48px;
    }




    .form_wrap {
        display: flex;
        justify-content: center;

        form {
            position: relative;
            width: 647px;
            margin-bottom: 211px;

            input {
                height: 60px;
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 36px;

                &::placeholder {
                    font-family: 'Josefin Sans', sans-serif;

                    line-height: 20px;
                    letter-spacing: 0.2em;
                    color: #999999;
                }
            }

            .search_button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                position: absolute;
                right: 5px;
                top: 4px;
                background-color: $colorButton;
                width: 139px;
                height: 52px;
                border: 0;
                font-family: 'Aleo';
                font-style: normal;
                font-weight: 400;
                @include fontSize(14);
                line-height: 20px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                cursor: pointer;

                svg {
                    fill: #FFFFFF;
                    width: 16px;
                    height: 16px;

                }
            }
        }
    }

    .scroll_down {
        display: flex;
        justify-content: center;


        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            @include fontSize(14);
            line-height: 20px;
            color: #FFFFFF;
            text-decoration: none;
            letter-spacing: 0.2em;

            &:hover {
                color: yellow;

                svg {
                    fill: yellow;
                }
            }

            svg {
                fill: #FFFFFF;
                width: 14px;
                height: 16px;
            }

        }
    }

}

header {
    position: sticky;
    background-color: #5373fd;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 32px 0;

    .logo {
height: 20px;
}
    .navbar {
        display: flex;
        justify-content: space-between;
        position: relative;
        .hamb-wrapper {
            display: none;
            position: absolute;
            right: 0;
            top: -2px;
            .hamburger {
                padding: 0;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        gap: 40px;

        a {
            text-decoration: none;
            font-family: 'Aleo';
            @include fontSize(14);
            line-height: 20px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;

            &:hover {
                color: yellow;
            }
        }
    }

    

    #hamb_menu {
        display: none;
        width: 100%;
        padding: 32px 0;
        position: absolute;
        top: 84px;
        background-color: $colorButton;

        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
        }
    }


}

#why_us {
    // background-image: url(../img/WhyBackground.jpg);
    padding: 124px 0;
    background-size: cover;
    background-repeat: no-repeat;

    .why_us_wrap {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }

    .second_section_content {
        padding-top: 66px;
        width: max(550px, 49%);

        h2 {
            font-family: 'Aleo';
            font-weight: 400;
            @include fontSize(36);
            line-height: 40px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 24px;
        }

        p {
            font-family: 'Josefin Sans';
            font-weight: 300;
            @include fontSize(16);
            line-height: 28px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
        }

        p+p {
            margin-top: 28px;
            margin-bottom: 32px;
        }
    }

    .wraper_img {
        width: 40%;


        .w_img1 {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 16px;
        }

        .w_img2 {
            display: flex;
            justify-content: flex-end;
        }
    }



}

.button_blue {
    background-color: $colorButton;
    width: 213px;
    height: 60px;
    border: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    @include fontSize(16);
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;

    &:active {
        background-color: #486BFE;
    }
}

#instruction {
    background-color: #333333;
    color: #FFFFFF;

    .instruction_wrap {
        position: relative;
        display: flex;
        justify-content: center;
    }

    svg {
        width: 64px;
        height: 64px;
    }

    span {
        font-family: 'Aleo';
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: center;

    }

    .grid_wrap {
        padding-top: 107px;
        padding-bottom: 59px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        .grid_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            .svg_wrapp {
                height: 96px;
                width: 96px;
                border-radius: 50%;
                background-color: #333333;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
            }
        }
    }

    .line_wrap {
        position: absolute;
        width: 66%;
        top: 60px;
        left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .line {
            // background-image: url(../img/Line.svg);
            height: 90px;
            background-repeat: no-repeat;
            background-size: 100% auto;

        }
    }

    .search_places {
        fill: #5373FD;
    }

    .select_places {
        fill: #FF6363;
    }

    .book_enjoy {
        fill: #00A2FF;
    }

}

#spain1 {
    // background-image: url(../img/spain1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#spain2 {
    // background-image: url(../img/spain2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .spain2_right {
        display: flex;
        justify-content: flex-end;
    }
}

#spain1,
#spain2 {
    padding-top: 220px;
    padding-bottom: 120px;

    .opasity_block {
        background: rgba(35, 35, 35, 0.9);
        width: max(550px, 49%);
        padding: 44px 32px;
        color: #FFFFFF;
        font-family: 'Josefin Sans';
        line-height: 28px;


        span {
            display: block;
            font-weight: 300;
            @include fontSize(20);
            letter-spacing: 0.1em;
            margin-bottom: 16px;
        }

        h3 {
            font-weight: 400;
            @include fontSize(20);
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        p {

            font-style: normal;
            font-weight: 300;
            @include fontSize(16);
            letter-spacing: 0.1em;
            margin-bottom: 24px;
        }
    }

}

#feedback {
    // background-image: url(../img/feedback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 180px;
    color: #FFFFFF;

    h2 {
        text-align: center;
        font-family: 'Aleo', sans-serif;
        font-weight: 400;
        @include fontSize(36);
        line-height: 40px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-bottom: 60px;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 2fr;

        img {
            vertical-align: top;
        }
    }

    .review_photo {
        // background-image: url(../img/ReviewPhoto.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    .article_content {
        background-color: #333333;
        padding: 48px 60px;
        font-family: 'Josefin Sans';
        line-height: 28px;


        h3 {
            font-weight: 400;
            @include fontSize(20);
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        p {
            font-weight: 300;
            @include fontSize(16);
            letter-spacing: 0.1em;
            margin-bottom: 24px;

            svg {
                width: 20px;
                height: 20px;
                fill: $colorButton;
                margin-right: 6px;
            }

        }


    }
}

footer {
    padding: 80px 0px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Josefin Sans';

    .logo_wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    p {
        @include fontSize(14);
        line-height: 20px;
        letter-spacing: 0.2em;
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 32px;
        list-style: none;

        svg {
            width: 32px;
            height: 32px;
            fill: white;

            &:hover {
                fill: $colorButton;
            }
        }
    }


}

@media screen and (max-width: 960px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    #why_us {
        padding: 60px 0;

        .why_us_wrap {
            gap: 32px;
            flex-direction: column-reverse;
        }

        .wraper_img {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;

            .w_img1 {
                margin-bottom: 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .second_section_content {
            padding-top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            p {
                text-align: center;
            }
        }

    }

    #instruction {

        .line_wrap {
            display: none;
        }

        .grid_wrap {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            gap: 60px;
            padding: 60px 0;
        }
    }

    #spain1,
    #spain2 {

        .opasity_block {
            width: 100%;
        }
    }

    #feedback {
        padding-top: 60px;
        padding-bottom: 120px;

        article {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
    
            img {
                vertical-align: top;
            }
        }
    }
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(-20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}

@media screen and (max-width: 666px) {
    header {
        .navbar{
            nav {
                display: none;
            }
            .hamb-wrapper {
                display: block;
            }
        }
        #hamb_menu.is-active {
display: block;
animation: rotateMenu 400ms ease-in-out forwards;
transform-origin: top center;
        }
    }

    
    
}

